
	header{
			width: 100%;
			height: 157px;
			/*background: yellow;*/
		}
		header #logo_box{
			width: 100%;
			height: 106px;
			border-bottom: 1px solid #c6d2d8;
		}
		header #logo{
			width: 1000px;
			height: 106px;
			/*background: #444;*/
			margin: 0 auto;
		}
		header #logo #logo_left{
			width: 485px;
			height: 106px;
			background:  url(../images/logo.png) no-repeat left center;
			margin-right: 223px;
			float: left;
		}
		header #logo  #logo_right{
			width: 291px;
			height: 106px;
			float: left;
			/*background: yellow;*/
		}
		header #logo  #logo_right #logo_right_top{
			width: 291px;
			height:35px;
			/*background: purple;*/
			text-align: right;
			color: #747474;
			padding-top: 15px;
		}
		header #logo  #logo_right #logo_right_top a{
			color: #747474;
			font-size: 14px;
		}
		header #logo  #logo_right #logo_right_bottom{
			width: 291px;
			height: 30px;
			border: 1px solid #0fa9eb;
		}
		header #logo  #logo_right #logo_right_bottom #search{
			width: 230px;
			height: 30px;
			border: none;
			float: left;
			padding-left: 5px;
		}
		header #logo  #logo_right #logo_right_bottom #btn{
			width: 61px;
			height: 30px;
			border: none;
			float: left;
			background: #0fa9eb;
			color: #fff;
			font-size: 18px;
		}
		#nav_box{
			width: 100%;
			height: 51px;
			background:url(../images/bg1.png) repeat-x center bottom;
		}
		nav{
			width: 1000px;
			height: 51px;
			/*background: #888;*/
			margin: 0 auto;
		}
		nav ul li{
			width: 142px;
			height: 51px;
			float: left;
		}
		nav ul li a{
			display: block;
			width: 142px;
			height: 51px;
			line-height: 50px;
			text-align: center;
			color: #333;
			font-size: 18px;
		}
		nav ul li a:hover{
			background: #0fa9eb;
		}

	footer{
		width: 100%;
		height: 120px;
		background: #0fa9eb;
		padding: 10px 0px;
	}
	footer p{
		text-align: center;
		color: #fff;
		font-size: 14px;
		line-height: 40px;/*行高，*/
	}
	footer p a{
		text-decoration: none;
		color: #fff;
	}